<div class="jumbotron">
  <div class="container">
    <h1 class="display-4"><img src="img/logo.jpg" class="rounded-circle" alt="logo" width="150">&nbsp;{{.Title}}</h1>
    <p class="lead">{{.Site.Params.Subtitle}}</p>
    <p>
      <a href="mailto:{{.Site.Params.Mail}}"  target="_blank"><button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Contacter"      ><i class="fas fa-paper-plane fa-2x"> </i></button></a>
      <a href="{{.Site.Params.Facebook}}"     target="_blank"><button type="button" class="btn btn-primary"   data-toggle="tooltip" data-placement="top" title="La page"        ><i class="fab fa-facebook fa-2x">    </i></button></a>
      <a href="{{.Site.Params.Twitter}}"      target="_blank"><button type="button" class="btn btn-primary"   data-toggle="tooltip" data-placement="top" title="Le moineau"     ><i class="fab fa-twitter fa-2x">     </i></button></a>
      <a href="{{.Site.Params.Github}}"       target="_blank"><button type="button" class="btn btn-dark"      data-toggle="tooltip" data-placement="top" title="Le code source" ><i class="fab fa-github fa-2x">      </i></button></a>
    </p>
  </div>
</div>
