<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
    <title>{{ .Site.Title }}</title>
    <meta charset="utf-8">
    <meta name="author" content="{{ .Site.Params.Author }}">
    <meta name="description" content="{{.Site.Params.Subtitle}}">
    <meta name="keywords" content="le jeu du titre, le-jeu-du-titre, titre">
    <meta name="robots" content="index, follow">
    <meta name="ICBM" content="44.3333 , 1.2167">
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.lejeudutitre.com/" />
    <meta property="og:image" content="https://www.lejeudutitre.com/img/lejeudutitre.jpg" />
    <meta name="msvalidate.01" content="" />
    <meta name="google-site-verification" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="./assets/fontawesome-free-5.13.0/css/all.min.css" rel="stylesheet">
    <link href="./assets/bootstrap-4.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="./assets/bootstrap-4.4/js/bootstrap.min.js"></script>
    <link href="./css/timeline.css" rel="stylesheet">

</head>