{{ define "main"}}	
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline9">
                {{ range where .Site.RegularPages.ByPublishDate.Reverse "Section" "titre"}}
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span><i class="{{ .Params.icon }}"></i></span></div>
                            <div class="content">
                                <span class="year"> {{ .Title }}</span>
                                <p class="description">{{ .Content }}</p>
                                <i class="fab fa-twitter-square"></i>&nbsp;
                                <i class="fab fa-facebook-square"></i>
                                <div class="icon"><span ></span></div>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}